LOCATE    COMP "CLK48" SITE "B12";
IOBUF     PORT "CLK48" IO_TYPE=LVCMOS18;
FREQUENCY PORT "CLK48" 48.0 MHz;

#LED
LOCATE COMP "LED" SITE "E8";
IOBUF  PORT "LED" IO_TYPE=LVCMOS33;

#Buttons
LOCATE COMP "BTN[0]" SITE "N5";
IOBUF  PORT "BTN[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "BTN[1]" SITE "P5";
IOBUF  PORT "BTN[1]" IO_TYPE=LVCMOS33;

#PMOD
# B +---+---+----+----+----+----+
# R | 11| 9 | 07 | 05 | 03 | 01 |
# D |3v3|GND| P4 | P3 | P2 | P1 |
# E +---+---+----+----+----+----+
# D | 12| 10| 08 | 06 | 04 | 02 |
# G |3v3|GND| P10| P9 | P8 | P7 |
# E +---+---+----+----+----+----+
LOCATE COMP "PMOD_P1"  SITE "H5";
LOCATE COMP "PMOD_P2"  SITE "D9";
LOCATE COMP "PMOD_P3"  SITE "D2";
LOCATE COMP "PMOD_P4"  SITE "C3";
LOCATE COMP "PMOD_P7"  SITE "C5";
LOCATE COMP "PMOD_P8"  SITE "B5";
LOCATE COMP "PMOD_P9"  SITE "E5";
LOCATE COMP "PMOD_P10" SITE "G3";

IOBUF  PORT "PMOD_P1"  IO_TYPE=LVCMOS33;
IOBUF  PORT "PMOD_P2"  IO_TYPE=LVCMOS33;
IOBUF  PORT "PMOD_P3"  IO_TYPE=LVCMOS33;
IOBUF  PORT "PMOD_P4"  IO_TYPE=LVCMOS33;
IOBUF  PORT "PMOD_P7"  IO_TYPE=LVCMOS33;
IOBUF  PORT "PMOD_P8"  IO_TYPE=LVCMOS33;
IOBUF  PORT "PMOD_P9"  IO_TYPE=LVCMOS33;
IOBUF  PORT "PMOD_P10" IO_TYPE=LVCMOS33;

#Programn
LOCATE COMP "PROGRAMN" SITE "R3";
IOBUF  PORT "PROGRAMN" IO_TYPE=LVCMOS33;


#Ethernet
LOCATE COMP "ETH_MDC"    SITE "D8";
LOCATE COMP "ETH_MDIO"   SITE "C8";
LOCATE COMP "ETH_INTN"   SITE "C10";
LOCATE COMP "ETH_RSTN"   SITE "B10";
LOCATE COMP "ETH_RXCLK"  SITE "A10";
LOCATE COMP "ETH_RXCTRL" SITE "C9";
LOCATE COMP "ETH_RX[0]"  SITE "A9";
LOCATE COMP "ETH_RX[1]"  SITE "B9";
LOCATE COMP "ETH_RX[2]"  SITE "A8";
LOCATE COMP "ETH_RX[3]"  SITE "B8";
LOCATE COMP "ETH_TXCTRL" SITE "A7";
LOCATE COMP "ETH_TXCLK"  SITE "C7";
LOCATE COMP "ETH_TX[0]"  SITE "D6";
LOCATE COMP "ETH_TX[1]"  SITE "C6";
LOCATE COMP "ETH_TX[2]"  SITE "B6";
LOCATE COMP "ETH_TX[3]"  SITE "A6";

IOBUF  PORT "ETH_MDC"    IO_TYPE=LVCMOS33;
IOBUF  PORT "ETH_MDIO"   IO_TYPE=LVCMOS33;
IOBUF  PORT "ETH_INTN"   IO_TYPE=LVCMOS33;
IOBUF  PORT "ETH_RSTN"   IO_TYPE=LVCMOS33;
IOBUF  PORT "ETH_RXCLK"  IO_TYPE=LVCMOS33;
IOBUF  PORT "ETH_RXCTRL" IO_TYPE=LVCMOS33;
IOBUF  PORT "ETH_RX[0]"  IO_TYPE=LVCMOS33;
IOBUF  PORT "ETH_RX[1]"  IO_TYPE=LVCMOS33;
IOBUF  PORT "ETH_RX[2]"  IO_TYPE=LVCMOS33;
IOBUF  PORT "ETH_RX[3]"  IO_TYPE=LVCMOS33;
IOBUF  PORT "ETH_TXCTRL" IO_TYPE=LVCMOS33;
IOBUF  PORT "ETH_TXCLK"  IO_TYPE=LVCMOS33;
IOBUF  PORT "ETH_TX[0]"  IO_TYPE=LVCMOS33;
IOBUF  PORT "ETH_TX[1]"  IO_TYPE=LVCMOS33;
IOBUF  PORT "ETH_TX[2]"  IO_TYPE=LVCMOS33;
IOBUF  PORT "ETH_TX[3]"  IO_TYPE=LVCMOS33;
